@import 'global/styles';

.chatLink {
	display: flex;

	border-radius: $radius-8;
	height: 11.2rem;
	margin: 0.8rem;
	max-width: 24rem;
	width: calc(100% - 1.6rem);

	flex-direction: column;
	justify-content: space-between;

	text-decoration: none;

	background-color: $color-grey-100;

	box-shadow: $shadow-grey-200;
}

.icons {
	display: flex;

	width: 100%;

	justify-content: space-between;
}

.icon {
	height: 2.4rem;
	margin: 0.8rem;
	width: 2.4rem;

	color: $color-peach;
}

.createdAt,
.title {
	max-width: calc(100% - 1.6rem);
	overflow: hidden;

	text-overflow: ellipsis;
}

.createdAt {
	color: $color-grey-400;
	font-size: 1rem;
	white-space: nowrap;
}
