@import 'global/styles';

.button {
	display: flex;

	border: none;
	height: 4.8rem;
	margin: 0.8rem;
	max-width: 24rem;
	width: 100%;

	align-items: center;
	justify-content: center;

	box-shadow: $shadow-grey-200;
	cursor: pointer;
}

.grey-200 {
	color: $color-grey-900;

	background-color: $color-grey-200;
}

.grey-800,
.peach {
	color: $color-grey-100;
}

.grey-800 {
	background-color: $color-grey-800;
}

.peach {
	background-color: $color-peach;
}

.disabled {
	color: $color-grey-400;

	background-color: $color-grey-600;

	cursor: not-allowed;

	&:hover {
		opacity: 1;
	}

	&:active {
		opacity: 1;
	}
}
