@import 'global/styles';

.grid {
	border-radius: $radius-8;
	margin: 0.8rem;

	background-color: $color-grey-200;

	box-shadow: $shadow-grey-200;
}

.shortestPath,
.controls {
	display: flex;

	width: 100%;

	flex-wrap: wrap;
	justify-content: center;
}

.shortestPath {
	align-items: center;
	flex-direction: column;
}
