/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[8].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[8].use[5]!./components/Button/Button.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__30ukX {
  display: flex;
  border: none;
  height: 4.8rem;
  margin: 0.8rem;
  max-width: 24rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1.6rem #cccccc;
  cursor: pointer;
}

.Button_grey-200__qTMLB {
  color: #1a1a1a;
  background-color: #cccccc;
}

.Button_grey-700__4oAoc,
.Button_peach__NIbBf {
  color: #e5e5e5;
}

.Button_grey-700__4oAoc {
  background-color: #333333;
}

.Button_peach__NIbBf {
  background-color: #dc303c;
}

.Button_disabled__ifhC4 {
  color: #999999;
  background-color: #666666;
  cursor: not-allowed;
}
.Button_disabled__ifhC4:hover {
  opacity: 1;
}
.Button_disabled__ifhC4:active {
  opacity: 1;
}
