@import 'global/styles';

.alert {
	display: flex;

	position: fixed;
	right: 0;
	top: 0.8rem;
	z-index: 100;

	border-bottom-left-radius: 0.8rem;
	border-left: 0.4rem solid $color-peach;
	border-top-left-radius: 0.8rem;
	margin-left: 0.8rem;
	max-width: 80rem;

	align-items: center;

	background-color: $color-grey-100;

	animation: show 1s ease-in-out;
	box-shadow: $shadow-grey-200;
}

.hideAnimation {
	animation: hide 1s ease-in-out;
}

.text {
	text-align: center;
}

.button {
	flex-shrink: 0;
	max-width: 4.8rem;
}

.icon {
	height: 2.4rem;
	width: 2.4rem;
}

@keyframes show {
	0% {
		opacity: 0;
		transform: translateX(32rem);
	}
	40% {
		opacity: 0.1;
		transform: translateX(-1.6rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes hide {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	60% {
		opacity: 0.1;
		transform: translateX(-1.6rem);
	}
	100% {
		opacity: 0;
		transform: translateX(32rem);
	}
}
