@import 'global/styles';

.footer {
	display: flex;

	height: 8rem;
	margin: 0 auto;
	max-width: 160rem;
	padding: 0.8rem;
	width: 100%;

	align-items: center;
	justify-content: center;

	text-align: center;
}
