/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[8].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[8].use[5]!./components/Button/Button.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__30ukX {
  display: flex;
  border: none;
  height: 4.8rem;
  margin: 0.8rem;
  max-width: 24rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1.6rem #cccccc;
  cursor: pointer;
}

.Button_grey-200__qTMLB {
  color: #1a1a1a;
  background-color: #cccccc;
}

.Button_grey-700__4oAoc,
.Button_peach__NIbBf {
  color: #e5e5e5;
}

.Button_grey-700__4oAoc {
  background-color: #333333;
}

.Button_peach__NIbBf {
  background-color: #dc303c;
}

.Button_disabled__ifhC4 {
  color: #999999;
  background-color: #666666;
  cursor: not-allowed;
}
.Button_disabled__ifhC4:hover {
  opacity: 1;
}
.Button_disabled__ifhC4:active {
  opacity: 1;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[8].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[8].use[5]!./components/Footer/Footer.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__Dhw_9 {
  display: flex;
  border-top: 0.1rem solid #cccccc;
  height: 8rem;
  margin: 0 auto;
  max-width: 160rem;
  padding: 0.8rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[8].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[8].use[5]!./components/Main/Main.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Main_main__ZcYG1 {
  display: flex;
  margin: 0 auto;
  max-width: 160rem;
  min-height: calc(100vh - 8rem);
  padding: 0.8rem;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[8].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[8].use[5]!./components/Nav/Nav.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Nav_nav__qW6YP {
  display: flex;
  border-bottom: 0.1rem solid #cccccc;
  height: 8rem;
  margin: 0 auto;
  max-width: 160rem;
  padding: 0.8rem;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.Nav_logo___Ag6p {
  display: flex;
  margin-right: 1.6rem;
  align-items: center;
  justify-content: center;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[8].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[8].use[5]!./app/learning/shortest-path/Page.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Page_grid__gyot_ {
  border-radius: 0.8rem;
  margin: 0.8rem;
  background-color: #cccccc;
  box-shadow: 0 0 1.6rem #cccccc;
}

.Page_shortestPath__nShES,
.Page_controls__xf4j7 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.Page_shortestPath__nShES {
  align-items: center;
  flex-direction: column;
}
